#root {
  max-width: auto;
  margin: 0; /* Margin sıfırlandı */
  padding: 0; /* Padding sıfırlandı */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 4em;
}

.read-the-docs {
  color: #888;
}

.redHeader {

  border-radius: 1px;
  background-color: rgb(221, 15, 15);
  color :white;
  border: 1px solid black;
  font-size: 35px;
  

}
.footer {
background-color:rgb(221, 15, 15);
left: 0;
padding: 11px;
border: 1px solid black;
font-size: bold;
text-align: center;
color: white;
width: 100%;
}

footer p {
  margin: 0;
}
/* Medya sorguları */
@media only screen and (max-width: 1200px) {
  .cart-item {
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .cart-item {
    width: 100%;
  }
}

/* Mobil boyutları için stil kuralları */
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .cart-item {
    margin: 5px;
  }
}
input[type="text"] {
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input[type="text"]:focus {
  border-color: #ff0000; /* Varsayılan olarak kırmızı çerçeve ekledik, kendi zevkinize göre düzenleyebilirsiniz */
}
